<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head('shopme', 'none')" />
<body>

  <div th:replace="navigation :: header_menu"></div>
  
  <div class="container-fluid">
      <h1><marquee> welcome to shopme ecommerce - all by categories </marquee></h1>
      
      <div th:replace="navigation :: search_nav"/>
      
      <div class="text-center border m-3 p-3">
         <h2>your order has been created !</h2>
         <h4>A confirmation email has been sent to you</h4>
         <h4>kindly check your email to view details</h4>
      </div>
    
  </div>
  </div>
 
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>