<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content" th:remove="tag">
     <div>
         <p>
            use this page to manage countries wihich  will be displayed in the customer registration.
            start to click Load Countries in order to fill Countries
         </p>
     </div>
     
     <div>
         <input type="button" id="buttonLoadCountries" value="load countries" class="btn btn-primary" style="margin-bottom: 10px;"/>
     </div>
     
     <div>
         <select class="form-control" id="dropDownCountries" style="height: 300px" size="3">
            
         </select>
     </div>
     
     <form id="formCountry">
      <div class="form-group row ml-2 mt-2" >
        <label class="col-form-label" id="labelCountryName">contry name</label>
        <div class="col-md">
          <input type="text" id="fieldCountryName" class="form-control mt-2" required  minlength="3" maxlength="20"/>
        </div>
         <label class="col-form-label">code</label>
        <div class="col-md">
          <input type="text" id="fieldCountryCode" class="form-control mt-2" required minlength="3" maxlength="20"/>
        </div>
        <div class="col-lg-4 mt-2">
           <input type="button" id="buttonAddCountry" value="New" class="btn btn-secondary mr-2"/>
           <input type="button" id="buttonUpdateCountry" value="Update" class="btn btn-secondary mr-2" disabled="disabled"/>
           <input type="button" id="buttonDeleteCountry" value="Delete" class="btn btn-secondary mr-2" disabled="disabled"/>
       </div>
      </div>
     </form>
    
</div>

</body>
</html>