<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
   <head th:replace="fragments :: page_head('settings -shopme Admin','tag')"/>
   <link rel="stylesheet" th:href="@{/richText/richtext.min.css}" />
   <script th:src="@{/richText/jquery.richtext.min.js}"></script>
</head>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">

<div class="pt-3 ml-3">
  <h2> site Setting</h2>
</div>

<div th:if="${message != null}" class="alert alert-success text-center">
   [[${message}]]
  </div>

 <ul class="nav nav-tabs" id="settingTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" >General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#countries" role="tab" >Countries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#states" role="tab" >States</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#mailServer" role="tab" >Mail Server</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#mailTemplates" role="tab" >Mail Templates</a>
  </li>
</ul>

<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active p-3" id="general" role="tabpanel">
				<div th:replace="settings/general :: content" />
			</div>
			<div class="tab-pane" id="countries" role="tabpanel">
				<h2>countries</h2>
			</div>
			<div class="tab-pane" id="states" role="tabpanel">
				<h2>states</h2>
			</div>
			<div class="tab-pane p-3" id="mailServer" role="tabpanel">
				<h2>mailServer</h2>
			</div>
			<div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
				<h2>mailTemplate</h2>
			</div>
		</div>
	

   
   <div th:replace="modal_fragments :: modal_dialog"></div>

   <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">


  MAX_FILE_SIZE = 102400; //less than 100kbs 
   SIZE = 100;
</script>

<script th:src="@{/js/common_form.js}"></script>
</body>
</html>