<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content" th:remove="tag">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">E-mail subject</label>
				<div class="col-sm-10">
					<input type="text" name="ORDER_CONFIRMATION_SUBJECT" 
					th:value ="${ORDER_CONFIRMATION_SUBJECT}" class="form-control form" 
					placeholder="Confirmation of your Order ID #[[orderId]]"/>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email content</label>
				<div class="col-sm-10">
					<textarea name="ORDER_CONFIRMATION_CONTENT" rows="5" id="orderConfirmationContent">[[${ORDER_CONFIRMATION_CONTENT}]]</textarea>
				</div>
			</div>
</div>

</body>
</html>