<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head('forgot password', 'none')" />
<body>

  <div th:replace="navigation :: header_menu"></div>
  
  
  <div class="container-fluid">
   <div>&nbsp;&nbsp;</div>
    
      <div class="text-center"> 
         <h4>Forgot form</h4>
      </div>
       <div>&nbsp;</div>
      <form th:action="@{/forgot_password}" method="post" style="max-width: 450px; margin: 0 auto;">
        <div th:if="${error != null}" class="alert alert-danger">
          [[${error}]]
        </div>
        <div th:if="${message != null}" class="alert alert-warning">
          [[${message}]]
        </div>
         <div class="border border-secondary rounded p-3">
            <div>
               <p> <b> we will be sending a reset password link to your email </b></p>
            </div>
            <div>
              <p>
                <input type="email" name="email" class="form-control" required autofocus="autofocus" 
                    placeholder="enter your email address"/>
              </p>
            </div>
            <div  class="text-center">
              <p>
                 <input type="submit" value="send" class="btn btn-primary" />
              </p>
            
            </div>
         </div>
      </form>
     <div>&nbsp;</div>
 </div>
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>