<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>



<div th:fragment="content" class="modal fade" id="returnOrderModal">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="returnOrderModelTitle">return order</h1> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <form onsubmit="return submitreturnOrderForm();">
        <div class="modal-body">
           <div id="divReason">
           Reason:
                <div>
                   <input type="radio" name="returnReason" value="I bougth the wrong items" required/>
                    I bougth the wrong items
                </div>
                <div>
                   <input type="radio" name="returnReason" value="I received the wrong items"/>
                    I received the wrong items
                </div>
                <div>
                   <input type="radio" name="returnReason" value="The product was damage/defective"/>
                    The product was damage/defective
                </div>
                <div>
                   <input type="radio" name="returnReason" value="The product arrived too late"/>
                    The product arrived too late
                </div>
                <div> <textarea rows="3" maxlength="200" id="returnedNote" class="form-control mt-1"
                  placeholder="informations complementaire"></textarea> 
                </div>
           </div>
            <div id="divMessage" class="text-center"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" id="firstButton">Send request</button>
          <button class="btn btn-danger" id="secondButton" data-dismiss="modal">Cancel</button>
        </div>
        </form>
        
     </div>
  </div>
</div>
<div>&nbsp;</div>