<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Shopme Admin','none')"/>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">

<div>
    <h1>manage users</h1>
    <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark" title="add new user"> </a>
    &nbsp; | &nbsp;
    <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark" title="fichier csv"></a>
    &nbsp; | &nbsp;
    <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark"  title="fichier excel"></a>
    &nbsp; | &nbsp;
    <a th:href="@{/users/export/pdf}"  class="fas fa-file-pdf fa-2x icon-dark" title="fichier pdf"></a>
</div>


<div th:replace="fragments :: search_form_and_message"/>

<div class="full-details">
    <table class="table table-striped table-hover table-bordered">
         <thead class="thead-dark">
         <tr>
            <th class="hideable-column">
              <th th:replace="fragments :: column_link('id', 'ID', 'tag')" />
            </th>
            
           <th>photos</th>
           
           <th class="hideable-column">
             <th th:replace="fragments :: column_link('email', 'Email', 'tag')" />
           </th>
             
           <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')" />
           <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')" />
           <th>roles</th>
           <th th:replace="fragments :: column_link('enabled', 'Satut', 'none')" />
           <th>actions</th>
           </tr>
         </thead>
         <tbody>
            <tr th:each="user : ${listUsers}">
               <td class="hideable-column">[[${user.getId}]]</td>
               <td> 
                  <span th:if="${user.photos == null}" class="fas fa-portrait fa-2x icon-silver"></span>
                   <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="max-width: 95px"/>
               </td>
               <td class="hideable-column">[[${user.getEmail}]]</td>
               <td>[[${user.getFirstName}]]</td>
               <td>[[${user.getLastName}]]</td>
               <td>[[${user.roles}]]</td>
               <td>
                    <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/'+${user.id})"/>
               </td>
               <td>
                  <div th:replace="fragments :: edit('user', '/users/edit/'+${user.id})"/>
                   &nbsp; &nbsp;
                  <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/'+${user.id}, true)"/>
               </td>
            </tr>
         </tbody>
    </table>
</div>


<div class="less-details">
  <div th:each="user : ${listUsers}" class="row m-1">
      <div class="col-4">
          <span th:if="${user.photos == null}" class="fas fa-portrait fa-2x icon-silver"></span>
          <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="max-width: 95px"/>
      </div>
      <div class="col-8">
        <div>[[${user.fullName}]]</div>
        <div> [[${user.roles}]]</div>
        <div class="p-2">
        
          <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/'+${user.id})"/>
            &nbsp;
          <div th:replace="fragments :: edit('user', '/users/edit/'+${user.id})"/>
           &nbsp; &nbsp;
          <div th:replace="fragments :: delete('user',${user.id}, '/users/delete/'+${user.id}, true)"/>
        </div>
      </div>
  </div>
</div>
  

<div th:replace="fragments :: pagination('users')"/>

<div th:replace="modal_fragments :: confirm_modal"/>

<div th:replace="fragments :: footer"/>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
moduleUrl = "[[@{/users}]]";

 $(document).ready(function(){
    $(".link-delete").on("click", function(e){
        e.preventDefault();
        showDeleteConfirmModal($(this), 'user');
    });
 });
 
</script>
</body>
</html>