<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">
    <div class="form-group row">
         <label class="col-sm-1 col-form-label">name</label> 
         <div class="col-sm-11">
          <th:block th:if="${isReadOnlyForSaleSperson}">
           <input type="text" th:field="*{name}"  class="form-control form" readonly="readonly"/>
          </th:block>
         
           <th:block th:unless="${isReadOnlyForSaleSperson}">
            <input type="text" th:field="*{name}" class="form-control form" required minlength="2" maxlength="255"/>  
           </th:block>
          </div> 
      </div>
      
       <div class="form-group row">
         <label class="col-sm-1 col-form-label">alias</label> 
         <div class="col-sm-11">
           <th:block th:if="${isReadOnlyForSaleSperson}">
           <input type="text" th:field="*{alias}" class="form-control form" readonly="readonly"/>
          </th:block>
          
            <th:block th:unless="${isReadOnlyForSaleSperson}">
           <input type="text" th:field="*{alias}" class="form-control form"
               placeholder="Default is product name(spaces are replace by dashes) " minlength="2" maxlength="255"/>
           </th:block>
         </div>   
      </div>
      
       <div class="form-group row">
         <label class="col-sm-1 col-form-label">Brand</label> 
         <div class="col-sm-11">
           <th:block th:unless="${isReadOnlyForSaleSperson}">
             <select th:field="*{brand}"  class="form-control form">
                <th:block th:each="brand : ${listBrands}">
                  <option th:value="${brand.id}">[[${brand.name}]]</option>
                </th:block>
             </select>
           </th:block>
           
          <th:block th:if="${isReadOnlyForSaleSperson}">
              <input  class="form-control form" th:value="${product.brand.name}" readonly/>
           </th:block>
          </th:block>
         </div>   
      </div>
      
       <div class="form-group row">
         <label class="col-sm-1 col-form-label">Category</label> 
         <div class="col-sm-11">
          <th:block th:unless="${isReadOnlyForSaleSperson}">
          <th:block th:if="${product.category != null}">
             <select th:field="*{category}" class="form-control form">
                <th:block th:each="cat : ${product.brand.categories}">
                       <option th:value="${cat.id}">[[${cat.name}]]</option>   
                </th:block>
             </select>
          </th:block>
         
         <th:block th:if="${product.category == null}">
             <select th:field="*{category}" class="form-control">
                
             </select>
         </th:block>
         </th:block>
         
          <th:block th:if="${isReadOnlyForSaleSperson}">
              <input  class="form-control form" th:value="${product.category.name}" readonly/>
           </th:block>
         </div>   
      </div>
      
    <div class="form-group row">
     <label class="col-sm-1 col-form-label">enabled</label>
      <div class="col-sm-11">
        <th:block th:if="${isReadOnlyForSaleSperson}">
         <input type="checkbox" th:field="*{enabled}" disabled/>
          </th:block>
         </th:block>
          <th:block th:unless="${isReadOnlyForSaleSperson}">
           <input type="checkbox" th:field="*{enabled}"/>
         </th:block>
      </div>
     </div>
    
      <div class="form-group row">
       <label class="col-sm-1 col-form-label">in stock</label>
       <div class="col-sm-11">
        <th:block th:if="${isReadOnlyForSaleSperson}">
          <input type="checkbox" th:field="*{inStock}" disabled="disabled"/>
         </th:block>
         </th:block>
         <th:block th:unless="${isReadOnlyForSaleSperson}">
           <input type="checkbox" th:field="*{inStock}"/>
         </th:block>
       </div>
     </div>
     <div class="form-group row">
         <label class="col-sm-1 col-form-label">Cost</label> 
         <div class="col-sm-11">
           <input type="number"  step="0.01" th:field="*{cost}" class="form-control form" />
         </div>   
      </div>
      <div class="form-group row">
         <label class="col-sm-1 col-form-label">price</label> 
         <div class="col-sm-11">
           <input type="number" step="0.01" th:field="*{price}"  class="form-control form" />
         </div>   
      </div>
      <div class="form-group row">
         <label class="col-sm-1 col-form-label">Discount</label> 
         <div class="col-sm-11">
           <input type="number" step="0.01" th:field="*{discountPercent}"  class="form-control form" />
         </div>   
      </div>
</div>

</body>
</html>