<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">
   
   <div class="row" id="divProductImages">
      <div class="col border m-3 p-2">
      <input type="hidden" th:field="*{mainImage}"/>
         <div>
            <label>main images: [[${product.mainImage}]]</label>
         </div>
         <div class="m-2">
            <img alt="main image preview" id="thumbnail" th:src="@{${product.mainImagePath}}" class="imag-fluid" style="width: 100px"/>
         </div>
         <div>
           <input type="file" id="fileImage" name="fileImage" accept="image/jpeg, image/jfif, image/png" 
             th:required="${product.mainImage == null}"/>
         </div>
      </div>
      <!-- ici on charge les extras images du produit -->
      <th:block th:each="productImage, status : ${product.images}">
          <div class="col border m-3 p-2" th:id="'divExtraImage'+${status.index}">
         <div>
            <label>Extra image #[[${status.index + 1}]] : [[${productImage.name}]]</label>
              <a class="btn fas fa-times-circle fa-2x icon-dark float-right"
                   name="linkRemoveExtraImage"
	                title="remove this extra image"></a>
         </div>
         <div class="m-2">
            <img th:alt="'Extra image #'+${status.index} +'preview'" th:id="'extraThumbnail'+${status.index}" th:src="@{${productImage.imagePath}}" class="imag-fluid" style="width: 100px"/>
         </div>
         <div>
           <input type="file" name="extraImage" accept="image/jpeg, image/jfif, image/png"/>
         </div>
         
         <input type="hidden"  name="imageIDs" th:id="'imageId' + ${status.index}" th:value="${productImage.id}"/>
         <input type="hidden" name="imageNames" th:id="'imageName' +${status.index}" th:value="${productImage.name}"/>
      </div>
      </th:block>
      
      <div class="col border m-3 p-2" th:id="'divExtraImage'+ ${numberOfExistingExtraImage}">
         <div th:id="'extraImageHeader' +${numberOfExistingExtraImage}">
            <label>Extra image #[[${numberOfExistingExtraImage + 1}]]</label>
         </div>
         <div class="m-2">
            <img th:alt="'Extra image #' +${numberOfExistingExtraImage} +'preview'" id="'extraThumbnail'+${numberOfExistingExtraImage}" th:src="@{/images/thumbnail.png}" class="imag-fluid" style="width: 100px"/>
         </div>
         <div>
           <input type="file" name="extraImage" accept="image/jpeg, image/jfif, image/png"/>
         </div>
      </div>
   
   </div>
   
 </div>
 
</body>
</html>