<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>

  <div th:replace="navigation :: header_menu"></div>
  
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  <div class="container-fluid">
     <div class="text-center">
       <h2> customer registration</h2>
       <h4>you have registered successfuly as a customer</h4>
       <p>please check your gmail to verify your account</p>
       <p><a th:href="@{/login}">Login here</a></p>
     </div>
  </div>
  
   <div>&nbsp;</div>
   <div>&nbsp;</div>
 
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>