<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head('verification success', 'none')" />
<body>

  <div th:replace="navigation :: header_menu"></div>
  
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  <div class="container-fluid">
     <div class="text-center">
       <h2> customer verification</h2>
       <h4>well done! your account has been verified </h4>
       <p><a th:href="@{/login}">Login now</a></p>
     </div>
  </div>
  
   <div>&nbsp;</div>
   <div>&nbsp;</div>
 
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>