<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('review- Shopme Admin','none')"/>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">

<div>
    <h1>manage reviews</h1>
</div>


<div th:replace="fragments :: search_form_and_message"/>

<div class="full-details">
    <table class="table table-striped table-hover table-bordered">
         <thead class="thead-dark">
         <tr>
            
             <th th:replace="fragments :: column_link('id', 'ID', 'none')"/>
             <th th:replace="fragments :: column_link('product', 'Product', 'none')"/>
             <th th:replace="fragments :: column_link('customer', 'Customer', 'none')"/>
             <th th:replace="fragments :: column_link('rating', 'Rating', 'none')"/>
             <th th:replace="fragments :: column_link('reviewTime', 'Review Time', 'none')"/>
             <th>actions</th>
           </tr>
         </thead>
         <tbody>
            <tr th:each="review : ${listReviews}">
               <td>[[${review.id}]]</td>
               <td>
                   <a th:href="@{'/products/details/'+ ${review.product.id}}" class="link-detail-product">
                     [[${review.product.shortName}]]
                   </a>
               </td>
               <td>
                   <a th:href="@{'/customers/detail/'+ ${review.customer.id}}" class="link-detail-customer">
                      [[${review.customer.fullName}]]
                   </a>
               </td>
               <td>[[${review.rating}]] <i class="far fa-star"></i> </td>
               <td>[[${review.reviewTime}]]</td>
               
               <td>
                 <a class="fas fa-file-alt fa-2x icon-green link-detail-review" 
                    th:href="@{'/reviews/detail/'+ ${review.id}}"
                     title="view this review">
                  </a>
                  &nbsp;
                  <div th:replace="fragments :: edit('review', '/reviews/edit/'+${review.id})"/>
                  &nbsp;
                  <div th:replace="fragments :: delete('review', ${review.id}, '/reviews/delete/'+${review.id}, true)"/>
               </td>
            </tr>
         </tbody>
    </table>
</div>


<div class="less-details">
  <div th:each="review  : ${listReviews}" class="row m-1">
      <div class="col-4">
         <span>[[${review.id}]]</span>
      </div>
      <div class="col-8">
        <div class="mb-1">
           <span>[[${review.product.shortName}]]</span>
        </div>
        <div>
          &nbsp;
             <span>[[${review.rating}]] <i class="far fa-star"></i> </span>
          &nbsp;
           <a class="fas fa-file-alt fa-2x icon-green link-detail-review" 
               th:href="@{'/reviews/detail/'+ ${review.id}}"
               title="view this review">
           </a>
          &nbsp;
           <div th:replace="fragments :: edit('review', '/reviews/edit/'+${review.id})"/>
          &nbsp;
           <div th:replace="fragments :: delete('review', ${review.id}, '/reviews/delete/'+${review.id}, true)"/>
        </div>
      </div>
       <div>&nbsp;</div>
  </div>
</div>
  
<div th:replace="fragments :: pagination('reviews')"/>

<div th:replace="modal_fragments :: confirm_modal"/>

<div class="modal fade" id="xLargeModal">
    <div class="modal-dialog modal-xl">
       <div class="modal-content">
       </div>
</div>
</div>

<div class="modal fade" id="LargeModal">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
       </div>
</div>
</div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
moduleUrl = "[[@{/reviews}]]";

 $(document).ready(function(){
    handleDeleteLink();
    handleProductDetailLink();
    handleCustomerDetailLink();
    handleReviewDetailLink();
 });
 
 function handleDeleteLink(){
    $(".link-delete").on("click",function(e){
      e.preventDefault();
      showDeleteConfirmModal($(this), 'review');
    });
 }
 
 function handleDetailLinkClick(cssClass, modalId){
    $(cssClass).on("click", function(e){
      e.preventDefault();
      linkDetailUrl = $(this).attr("href");
      $(modalId).modal("show").find(".modal-content").load(linkDetailUrl);
    });
 }
 
 function handleProductDetailLink(){
   handleDetailLinkClick(".link-detail-product", "#xLargeModal");
 }
 
 function handleCustomerDetailLink(){
   handleDetailLinkClick(".link-detail-customer", "#LargeModal");
 }
 
 function handleReviewDetailLink(){
   handleDetailLinkClick(".link-detail-review", "#LargeModal");
 }
 
</script>
</body>
</html>