<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head('shopme', 'none')" />
<body>

  <div th:replace="navigation :: header_menu"></div>
  
  <div class="container-fluid">
      <h1><marquee> welcome to shopme ecommerce - all by categories </marquee></h1>
      
      <div th:replace="navigation :: search_nav"/>
      
   <div class="row">
     <div class="col-sm-2" th:each="cat: ${listCategories}">
      <a th:href="@{'/c/'+ ${cat.alias}}" style="text-decoration: none;">
       <div> <img th:src="@{${cat.imagePath}}" style="width: 150px; padding: 6px; "> </div>
       <div>
         [[${cat.name}]]
       </div>
      </a>
     </div>
    
  </div>
  </div>
 
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>