<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head('shopme', 'none')" />
<body>
  
  <div th:replace="navigation :: header_menu"></div>
  <div th:replace="navigation :: full_search"></div>
  <div th:replace="navigation :: search_nav"/>

<div class="grille">
 <div class="section">
     <div th:each="cat: ${listCategories}">
      <a th:href="@{'/c/'+ ${cat.alias}}" style="text-decoration: none;">
           <div class="image-section">
               <img th:src="@{${cat.imagePath}}">
           </div>
        <div class="description">
          <span>[[${cat.name}]]</span>
        </div>
      </a>
     </div>
 </div>

</div>
  

 
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>