<!DOCTYPE html>
<html xmlns:th="http://www.tthymeleaf.org">
<head th:replace="fragments :: page_head('shopme', 'none')" />
<body>

  <div th:replace="navigation :: header_menu"></div>
  
 <div class="text-center pt-3">
   <h2>Customer login</h2>
 </div>
 
 <div class="text-center mb-2">
    <a class="btn btn-secondary btn-lg fab fa-google" th:href="@{/oauth2/authorization/google}">&nbsp; continue with Google</a>
 </div>
 
  <div class="text-center mb-2">
    <a class="btn btn-secondary btn-lg fab fa-facebook" th:href="@{/oauth2/authorization/facebook}">&nbsp; continue with Facebook</a>
 </div>
 
 <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
    <div th:if="${param.error}" class="text-center">
       <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>
    
    <div th:if="${param.logout}" class="text-center">
      <p class="text-success">You logout successfully</p>
    </div>
    
    <div class="border border-secoundary rounded p-3">
       <p>
          <input type="email" name="email" class="form-control" placeholder="enter your E-mail" required/>
       </p>
        <p>
          <input type="password" name="password" class="form-control" placeholder="enter your password" required/>
       </p>
       <p class="text-center">
          <input type="checkbox" name="remember-me"> &nbsp; remember me
       </p>
       <p class="text-center">
          <input type="submit" value="login" class="btn btn-primary" style="padding: 5; border: unset" />
       </p>
    </div>
 </form>
  
 <br>
 
 <div class="text-center">
   or <a th:href="@{/forgot_password}">forgot password</a> 
 </div>
 <div class="text-center">
     Don't have an account ? <a th:href="@{/register}"><b>sign up</b></a> 
 </div>
 
 <div>&nbsp;&nbsp;</div>
 <div th:replace="navigation :: footer_menu"></div>
 
</body>
</html>